/* Fonts */
$roboto: 'Roboto', sans-serif;
$serif: 'PT Serif', serif;


/* Color */
$default: #2b2a28;

$black: #000;
$dark: #333;
$soft: #545454;



/* Bkg colors */
$soft-grey: #f1f1f1;
$button: #ff9800;
$menu: #cff6f6;
